@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-muted: #e5e5e5;
  --background-muted: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --foreground-muted: #e5e5e5;
    --background-muted: #1a1a1a;
  }
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .text-muted {
    @apply text-white/80;
  }
  
  .bg-muted {
    @apply bg-gray-900;
  }
}
